<div class="container">

  <div class="column-right">
  <img src="http://www.andysowards.com/blog/assets/cute-animal-photography-funny-kitty-puppy-memes-11-600x434.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>

  <img src="http://www.bepositive.me/media/uploads/42/5845681b91a70.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>


  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Editing <%= @pet.name %>'s Details </h1>
      <form method="post" action="/pets/<%=@pet.id%>/edit">

        <div class="form-group">
          <label for="pet-name">Name:</label>
          <input class="form-control"
          id="pet-name" type="text" name="name"
          value= "<%=@pet.name%>"/>
        </div>

        <div class="form-group">
          <label for="pet-age">Age:</label>
          <input class="form-control"
          id="pet-age" type="number" name="age"
          value="<%= @pet.age %>"></>
        </div>

        <div class="form-group">
          <label for="pet-type">Type:</label>
          <input class="form-control"
          id="pet-type" type="text" name="type"
          value= "<%=@pet.type%>"/>
        </div>

        <div class="form-group">
          <label for="pet-breed">Breed:</label>
          <input class="form-control"
          id="pet-breed" type="text" name="breed"
          value= "<%=@pet.type%>"/>
        </div>

        <div class="form-group">
          <label for="pet-admission_date">Admission Date:</label>
          <input class="form-control"
          id="pet-admission_date" type="text" name="admission_date"
          value= "<%=@pet.admission_date%>"/>
        </div>

        <div class="form-group">
          <label for="pet-status">Status:</label>
          <select class="form-control"
          id="pet-status" name="status">
          <option value="Looking for a New Home"
          <%="selected" if @pet.status == "Looking for a New Home"%> >
          Looking for a New Home
        </option>
        <option value="Still in Training"
        <%="selected" if @pet.status == "Still in Training"%> >
        Still in Training
      </option>
      <option value="Happily Adopted"
      <%="selected" if @pet.status == "Happily Adopted"%> >
      Happily Adopted
    </option>
  </select>
</div>

<div class="form-group">
  <input class="btn btn-secondary btn-block"type="submit" value="Save Changes"/>
</div>
</form>
</div>
</div>
</div>
