<h1>Pets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Age</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Admission Date</th>
    <th>Status</th>
  </tr>
  <% for pet in @pets %>
  <tr>
    <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
    <td>|</td>
    <td><%= pet.age %></td>
    <td><%= pet.type %></td>
    <td><%= pet.breed %></td>
    <td><%= pet.admission_date %></td>
    <td><%= pet.status%></td>
  </tr>
  <% end %>
</table>

<form method="get" action="/pets/new">
 <input type="submit" value="Add Pet"/>
</form>

<form method="post" action="/pets"
<label for= "type-select">
  Find a Type:
  <select id="type-select" name="type_id">
    <% for pet in @pets %>
    <option value="<%= pet.id %>">
      <%= pet.type %>
    </option>
    <%end%>
  </select>
  <input type="submit" name="type_id" value="Find">
</label>
</form>

<label for= "breed-select">
  Find a Breed:
  <select id="breed-select" name="breed_id">
    <% for pet in @pets %>
    <option value="<%= pet.id %>">
      <%= pet.breed %>
    </option>
    <%end%>
    <input type="submit" name="type_id" value="Find">
  </select>
</label>
