<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class="mb-3">Pets.</h1>

      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>Breed</th>
            <th>Admission Date</th>
            <th>Status</th>
          </tr>
          <thead>
            <tbody>
              <% for pet in @pets %>
              <tr>
                <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
                <td><a href="/pets/<%= pet.id %>"><%= pet.age %></td>
                <td><a href="/pets/<%= pet.id %>"><%= pet.type %></td>
                <td><a href="/pets/<%= pet.id %>"><%= pet.breed %></td>
                <td><a href="/pets/<%= pet.id %>"><%= pet.admission_date %></td>
                <td><a href="/pets/<%= pet.id %>"><%= pet.status%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
    </br>
    <img class="center-img img-fluid img-thumbnail" src="http://www.todayifoundout.com/wp-content/uploads/2016/05/happy-puppy.png"
    alt="Kttens on laptop">
