<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="container"><h3>Name: <%= @pet.name %></h3></div>
      <div class="container"><h3>Age: <%= @pet.age %></h3></div>
      <div class="container"><h3>Type: <%= @pet.type %></h3></div>
      <div class="container"><h3>Breed: <%= @pet.breed %></h3></div>
      <div class="container"><h3>Admission Date: <%= @pet.admission_date %></h3></div>
      <div class="container"><h3>Status: <%= @pet.status %></h3></div>
      <br>


        <div class="col-sm">
          <form method="post" action="/pets/<%= @pet.id %>/delete">
            <div class="form-group">
              <input class="btn btn-secondary btn-block"type="submit" value="Remove Friend"/>
            </div>
          </form>
        </form>


          <form method="get" action="/pets/<%= @pet.id %>/edit">
            <div class="form-group">
              <input class="btn btn-secondary
              btn-block" type="submit" value="Edit Little Buddy's Records"/>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
