<div class="container">
  <div class="column-right">
  <img src="https://s-media-cache-ak0.pinimg.com/originals/3c/ac/d2/3cacd2b2071d3a9c094c6abaddcadb36.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>
  </div>
  <h1>Name: <%= @pet.name %></h1>
  <div class="container"><h2>Age: <%= @pet.age %></h2></div>
  <div class="container"><h2>Type: <%= @pet.type %></h2></div>
  <div class="container"><h2>Breed: <%= @pet.breed %></h2></div>
  <div class="container"><h2>Admission Date: <%= @pet.admission_date %></h2></div>
  <div class="container"><h2>Status: <%= @pet.status %></h2></div>
  <br>





    <form method="post" action="/pets/<%= @pet.id %>/delete">
      <div class="form-group">
        <input class="btn btn-secondary btn-block"type="submit" value="Remove <%= @pet.name %>"/>
      </div>
    </form>



  <form method="get" action="/pets/<%= @pet.id %>/edit">
    <div class="form-group">
      <input class="btn btn-secondary
      btn-block" type="submit" value="Edit Little <%= @pet.name %>'s Records"/>
    </form>
  </div>
</div>
