<div class="container">
  <div class="row">
    <div class="col-sm">
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Type</th>
            <th>Breed</th>
            <th>Admission Date</th>
            <th>Status</th>
          </tr>
        </thead>
      </tbody>
      <% for pet in @pets %>
      <tr>
        <td><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
        <td><%= pet.age %></td>
        <td><%= pet.type %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.admission_date %></td>
        <td><%= pet.status%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
