<h1>Owner: <%= @owner.name %></h1>

<h3>Pets:</h3>

<ul>
  <% @owner.pets.each do |pet|%>
  <li><%= pet.name%></li>
  <a href="/pets/<%= pet.id %>">
  <% end %>
</ul>

<form method="post" action="/owners/<%= @owner.id %>/delete">
 <input type="submit" value="Remove Owner"/>
</form>

<form method="get" action="/owners/<%= @owner.id %>/edit">
 <input type="submit" value="Edit Owner's Records"/>
</form>
